
   <section id="slider-sec">      
      <div class="home-banner">  
        <div class="banner-cover"></div>
        <video id="pretzel-video" loop preload="auto" class="video-playing" autoplay>
          <source type="video/mp4" src="video.mp4"></source>
        </video>        
         <div class="mr-slideContaint">
          <h2 class="homeSecTitle">LIVE SMARTER</h2>
          <p class="home-Subtitle">Help around the home is just a few clicks away</p>
          <div class="home-serach">
           <form method="post" id="home-search-frm">                        
            <input id="search-keyword" class="field-control" type="text" placeholder="Keywords" autocomplete="off">
            <input class="field-control" type="date" id="check-indate" placeholder="Check In">
            <input class="field-control" type="date" id="check-outdate" placeholder="Check Out">
            <select name="" class="field-control">
             <option>1 Guest</option><option>2 Guest</option>
            </select>
            <input class="home-search-btn" type="submit" value="Search">           
            </form>
          </div>
         </div>
      </div>
   </section>
   
   <section id="word-opportunity-sec">
    <div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-4"  style="background:#fff;">
     <div class="hosting-opportunity-content">
        <h2 class="hosting-opportunity-title">
          Hosting opens up a world of opportunity</h2>
        <p style="margin: 0px; line-height: normal; font-size: 16px; font-weight: 600;">
        Earn money sharing your extra space with travelers.</p>
         <p><a class="btn btn-info btn-lg" href="#">How It Works</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8  hosting-opportunity-image">
      <img src="img/people727b7b.jpg">
    </div>
    <div class="clearfix"></div>
   </div>
  </div>
   </section>  
   
   <section id="explore-the-world">
     <div class="container">
     <div class="row">
       <div class="explore-work-section-title">
        <h2 class="explore-work-title">Popular services</h2>
      <h3 class="explore-subtitle">Hire the help you need today!</h3>
     </div>
     </div>
      
    <div class="row">
       <section class="col-xs-12 col-sm-6 col-md-8 mr-grid-item">
       <div class="image-grid-cover" style="background:url(images/Music.jpg);">
         <a class="mr-grid-title" href="#">Music</a>
       </div>
       </section>
       
       <section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
       <div class="image-grid-cover" style="background:url(images/Pet.jpg);">
         <a  class="mr-grid-title" href="#">Pet</a>
       </div>
       </section>
      
    <section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
      <div class="image-grid-cover" style="background:url(images/Home.jpg);"> 
       <a class="mr-grid-title" href="#" >Home</a>
       </div>
    </section> 
     
     <section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item">
       <div class="image-grid-cover" style="background:url(images/Photographer.jpg);">
         <a class="mr-grid-title" href="#">Photographer</a>
       </div>
     </section>   
      
     <section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item">  
      <div class="image-grid-cover" style="background:url(images/Alcoholdelivery.jpg);">
       <a class="mr-grid-title" href="#">Alcohol Delivery</a>
      </div> 
     </section> 
    
     
      <section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
       <div class="image-grid-cover" style="background:url(images/Personal-Training.jpg);">
         <a  class="mr-grid-title" href="#">Personal Training</a>
       </div>
       </section>
      <section class="col-xs-12 col-sm-6 col-md-8 mr-grid-item">
       <div class="image-grid-cover" style="background:url(images/Music.jpg);">
         <a class="mr-grid-title" href="#">Gardening</a>
       </div>
       </section>   
     <div class="clearfix"></div>
     </div>
     
     
     <div class="row">
          <div class="col-md-4">
        <div class="mr-home-feature">
          <div class="mr-home-feature-media">
           <img src="img/penicon.png">
          </div>
          <div class="mr-home-feature-title">
            <h2 style="color: #5bc0de">Describe Your Task</h2>
          </div>
          <div class="mr-home-feature-description">
           <p>This helps us determine which helpers are best for your task</p>
           </div>
        </div>
      </div>
          
      
      <div class="col-md-4">
        <div class="mr-home-feature">
          <div class="mr-home-feature-media">
           <img src="img/helpers.png">
          </div>
          <div class="mr-home-feature-title">
            <h2 style="color: #5bc0de">Choose a Helper</h2>
          </div>
          <div class="mr-home-feature-description">
           <p>All Helpers are carefully chosen, fully vetted & community rewieved.</p>
           </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="mr-home-feature">
          <div class="mr-home-feature-media">
           <img src="img/happyliving.png">
          </div>
          <div class="mr-home-feature-title">
            <h2 style="color: #5bc0de">Live Happier</h2>
          </div>
          <div class="mr-home-feature-description">
           <p>Your task is completed to your satisfaction - guaranteed</p>
           </div>
        </div>
      </div>
     </div>    
   </div>
   </section>
   
   <!-- Recent Listings section -->   
   
    <section id="recent-listing">
      <div class="container">
        <div class="recentlist-head">
         <h2 class="recentSec-title">Top Rated Helpers</h2>
         <h3 class="recentSec-subtitle">Hire som of our best helpers!</h3>
        </div>
       
       <div class="row">  <!-- Row start -->
            <div class="job-listing-wrap">
               <ul class="job-listouter">
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Jocyline Buccanon</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>      
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>        
                 
                 <div class="clearfix"></div>             
               </ul>
            </div>
       </div> <!-- Close row --> 
      </div>
    </section>   
   <!-- Close recent listing section -->
   <aside id="want-tolearn-sec" class="wantlearn-more-sec">
     <div class="feature-callout-cover no-overlay">
       <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 ">
                    <div  class="wantlearn-feature-content">
                      <h2 style="color:#ffffff" class="callout-feature-title">Ready to live smarter?</h2>
              <div class="howit-work"><a class="button" href="#">Find Help</a></div>
              </div>
                </div>
            </div>
     </div>
     </div>     
   </aside> 
</div>