<section id="slider-sec">
      <div class="home-banner helvetica">  
        <div class="banner-cover"></div>
        <video id="pretzel-video" loop preload="auto" class="video-playing" autoplay>
          <source type="video/mp4" src="video.mp4"></source>
        </video>        
         <div class="mr-slideContaint">
          <h2 class="homeSecTitle">MAKE THE MOST OF YOUR TIME</h2>
          <p class="home-Subtitle">FIND PEOPLE READY TO TAKE ON ANY JOB, ANY SIZE, ANY TIME</p>
          <div class="home-serach">
           <form method="post" id="home-search-frm">                        
            <!--<input id="search-keyword" class="field-control" type="text" placeholder="Keywords" autocomplete="off">
            <input class="field-control" type="date" id="check-indate" placeholder="Check In">
            <input class="field-control" type="date" id="check-outdate" placeholder="Check Out">
            <select name="" class="field-control">
             <option>1 Guest</option><option>2 Guest</option>
            </select>-->
            <input class="home-search-btn" type="submit" value="Sign Up for Free" data-toggle="modal" href="#" data-target="#signup">           
            </form>
            <br>
            <p class="home-Subtitle fixation">Have a Sidejob? <span class="boldit">List your Sidejob today.</span></p>
          </div>
         </div>
      </div>
   </section>
   
  
   
   <section id="explore-the-world">
   <div class="colorize-bg">
   <div class="container">
   <div class="row ">
            <div class="col-xs-4 egtab-handler active" data-egtabtarget="eg-tab1">
              <div class="media">
                <div class="mr-home-feature-media2">
                  <img src="images/video_tab1.png" class="media-object">
                </div>
                <div class="media-body">
                  
                  <div class="center">
                 <p>Find the help you need today</p>
                 </div>
                </div>
              </div>
           </div>
           <div class="col-xs-4 egtab-handler" data-egtabtarget="eg-tab2">
              <div class="media">
                <div class="mr-home-feature-media2">
                  <img src="images/video_tab2.png" class="media-object">
                </div>
                <div class="media-body">
                  
                  <div class="center">
                 <p>List your job</p>
                 </div>
                </div>
              </div>
           </div>
           <div class="col-xs-4 egtab-handler" data-egtabtarget="eg-tab3">
              <div class="media">
                <div class="mr-home-feature-media2">
                  <img src="images/video_tab3.png" class="media-object">
                </div>
                <div class="media-body">
                  
                  <div class="center">
                 <p>Safety first</p>
                 </div> 
                </div>
              </div>
           </div>
          </div>
          </div>
          </div>
        
            <div class="container"> 
               <div class="row egtab-content active" id="eg-tab1" style="display: block"> <!-- TAB ROW aaaa -->

                                    <div class="col-md-4 text-center"  style="display: block">
                           <h5>POST A JOB</h5>
        <p>Simply describe your job and the service you need. It only takes less than 5 minutes to post a job.</p>

                    </div>
                    <div class="col-md-4 text-center"  style="display: block">
                           <h5>CHOSE WHO YOU HIRE</h5>
        <p>When you're ready, hire an experienced professional at a price that's right for you.</p>

                    </div>
                    <div class="col-md-4 text-center"  style="display: block">
                           <h5>SECURE, CASH-FREE PAYMENTS</h5>
        <p>We only release payment once the job has been completed and approved by you.</p>

                    </div>
                </div>

                 <div class="row egtab-content" id="eg-tab2"> <!-- TAB ROW -->
                    <div class="col-md-4 text-center"  style="display: block">
                           <h5>GLOBAL REACH</h5>
        <p>Showcase your services to millions of people around the world; join a vibrant community that helps you turn your talents into cash.</p>

                    </div>
                    <div class="col-md-4 text-center"  style="display: block">
                           <h5>FREE TO JOIN</h5>
        <p>No commitment. No memberships. No hidden fees. You keep 85% of each transaction you make.</p>

                    </div>
                    <div class="col-md-4 text-center"  style="display: block">
                           <h5>BE YOUR OWN BOSS</h5>
        <p>Need something outside the 9 to 5? SideJob gives you the  freedom and flexibility to work whenever you have time. Set your own schedule, so you can be there for all of life’s most important moments.</p>

                    </div>
                </div>

                 <div class="row egtab-content" id="eg-tab3"> <!-- TAB ROW -->
                     <div class="col-md-4 text-center"  style="display: block">
                           <h5>PERSONAL DETAILS</h5>
        <p>We value your privacy. Your data is secure at all times and we'll never share your personal information with third parties.</p>

                    </div>
                    <div class="col-md-4 text-center"  style="display: block">
                           <h5>SAFE PAYMENTS</h5>
        <p>All transactions are conducted on the Sidejob platform. Whether a buyer uses a credit card, PayPal or other form of payment, we handle everything, and ensure the security of your personal details.</p>

                    </div>
                    <div class="col-md-4 text-center"  style="display: block">
                           <h5>SECURE COMMUNICATIONS</h5>
        <p>You can safely communicate and exchange files with your customers on Sidejob through our secure messaging system.</p>

                    </div>

               </div>
            </div>
          <hr>
    <div class="container">



     <div class="row">
       <div class="explore-work-section-title">
        <h2 class="explore-work-title helvetica">Popular services</h2>
      <h3 class="explore-subtitle">Hire the help you need today!</h3>
     </div>
     </div>
      
    <div class="row">
	
	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Home.jpg">
          	<p class="abs-name helvetica">Home</p>
         	</a>
       		</div> 
    	</section> 
	
	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Photographer.jpg">
          	<p class="abs-name helvetica">Photographer</p>
         	</a>
       		</div> 
    	</section>


	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Alcoholdelivery.jpg">
          	<p class="abs-name helvetica">Alcohol Delivery</p>
         	</a>
       		</div> 
    	</section>

	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Personal-Training.jpg">
          	<p class="abs-name helvetica">Personal Training</p>
         	</a>
       		</div> 
    	</section>

	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Pet.jpg">
          	<p class="abs-name helvetica">Pet</p>
         	</a>
       		</div> 
    	</section>

	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Music.jpg">
          	<p class="abs-name helvetica">Music</p>
         	</a>
       		</div> 
    	</section>
       

     <div class="clearfix"></div>
     </div>
     



     
        
   </div>
   </section>

   <!-- Close recent listing section -->
   <aside id="want-tolearn-sec" class="wantlearn-more-sec">
     <div class="feature-callout-cover no-overlay">
       <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div  class="wantlearn-feature-content">
                      <h2 style="color:#000" class="callout-feature-title text-center top-margin20">Put your skills to work.</h2>
              <div class="howit-work text-center "><input class="home-search-btn" type="submit" value="Sign Up for Free" data-toggle="modal" href="#" data-target="#signup">  </div>
              </div>
                </div>
            </div>
     </div>
     </div>     
   </aside> 
</div>
