<section id="slider-sec">      
      <div class="home-banner helvetica">  
        <div class="banner-cover"></div>
        <video id="pretzel-video" loop preload="auto" class="video-playing" autoplay>
          <source type="video/mp4" src="video.mp4"></source>
        </video>        
         <div class="mr-slideContaint">
          <h2 class="homeSecTitle">MAKE THE MOST OF YOUR TIME</h2>
          <p class="home-Subtitle">FIND PEOPLE READY TO TAKE ON ANY JOB, ANY SIZE, ANY TIME</p>
          <div class="home-serach">
           <form method="post" id="home-search-frm">                        
            <input id="search-keyword" class="field-control" type="text" placeholder="Keywords" autocomplete="off">
            <input class="field-control" type="date" id="check-indate" placeholder="Check In">
            <input class="field-control" type="date" id="check-outdate" placeholder="Check Out">
            <select name="" class="field-control">
             <option>1 Guest</option><option>2 Guest</option>
            </select>
            <input class="home-search-btn" type="submit" value="Search">           
            </form>
          </div>
         </div>
      </div>
   </section>
   
  
   
   <section id="explore-the-world">
     <div class="container">

            <div class="row">
 <div class="col-md-4">
        <div class="media">
          <div class="mr-home-feature-media pull-left">
            <img src="img/icon1.png" class="media-object">
          </div>
          <div class="media-body">
            <div class="mr-home-feature-title media-heading media-heading" style="text-align:left">
              <h2>Describe your task</h2>
            </div>
            <div class="">
           <p>This helps us determine which taskers are best for your job.</p>
           </div>
          </div>
        </div>
</div>

      
 <div class="col-md-4">
        <div class="media">
          <div class="mr-home-feature-media pull-left">
            <img src="img/icon2.png" class="media-object">
          </div>
          <div class="media-body">
            <div class="mr-home-feature-title media-heading media-heading" style="text-align:left">
              <h2>Choose a Tasker</h2>
            </div>
            <div class="">
           <p>All taskers are fully-vetted & comunity-reviewed.</p>
           </div>
          </div>
        </div>
</div>

      
 <div class="col-md-4">
        <div class="media">
          <div class="mr-home-feature-media pull-left">
            <img src="img/icon3.png" class="media-object">
          </div>
          <div class="media-body">
            <div class="mr-home-feature-title media-heading media-heading" style="text-align:left">
              <h2>Live Smarter</h2>
            </div>
            <div class="">
           <p>Your task is completed to your satisfaction guaranteed.</p>
           </div>
          </div>
        </div>
</div>
         
      
      
     </div> 

<hr>


     <div class="row">
       <div class="explore-work-section-title">
        <h2 class="explore-work-title helvetica">Popular services</h2>
      <h3 class="explore-subtitle">Hire the help you need today!</h3>
     </div>
     </div>
      
    <div class="row">
	
	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Home.jpg">
          	<p class="abs-name helvetica">Home</p>
         	</a>
       		</div> 
    	</section> 
	
	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Photographer.jpg">
          	<p class="abs-name helvetica">Photographer</p>
         	</a>
       		</div> 
    	</section>


	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Alcoholdelivery.jpg">
          	<p class="abs-name helvetica">Alcohol Delivery</p>
         	</a>
       		</div> 
    	</section>

	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Personal-Training.jpg">
          	<p class="abs-name helvetica">Personal Training</p>
         	</a>
       		</div> 
    	</section>

	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Pet.jpg">
          	<p class="abs-name helvetica">Pet</p>
         	</a>
       		</div> 
    	</section>

	<section class="col-xs-12 col-sm-6 col-md-4 mr-grid-item"> 
     		 <div class="img-holder">
        	 <a href="#">
         	 <img src="images/Music.jpg">
          	<p class="abs-name helvetica">Music</p>
         	</a>
       		</div> 
    	</section>
       

     <div class="clearfix"></div>
     </div>
     

      <section id="word-opportunity-sec">
    <div class="container">
   <div class="row">
      <div class="col-xs-12 col-sm-4"  style="background:#fff;">
     <div class="hosting-opportunity-content">
        <h2 class="hosting-opportunity-title helvetica">
          Hosting opens up a world of opportunity</h2>
        <p style="margin: 0px; line-height: normal; font-size: 16px; font-weight: 600;">
        Earn money sharing your extra space with travelers.</p>
         <p><a class="btn btn-info btn-lg" href="#">How It Works</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8  hosting-opportunity-image">
      <img src="img/people727b7b.jpg">
    </div>
    <div class="clearfix"></div>
   </div>
  </div>
   </section>  


     
        
   </div>
   </section>
   
   <!-- Recent Listings section -->   
   
    <section id="recent-listing">
      <div class="container">
        <div class="recentlist-head">
         <h2 class="recentSec-title helvetica">Recent Listings</h2>
         <h3 class="recentSec-subtitle">Discover some of our best listings</h3>
        </div>
       
       <div class="row">  <!-- Row start -->
            <div class="job-listing-wrap">
               <ul class="job-listouter">
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>      
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>
                 
                 <li class="mrjob-listing col-xs-12 col-sm-6 col-md-4">
                  <div class="list-container">
                    <figure class="list-thumb"><img src="img/IMG_9840.jpg"></figure>                
                    <div class="mrjob-listmeta">
                      <h2 class="joblist_title">Astoundify Barbershop</h2>
                      <p class="joblist-location">67 Mowat Avenue Toronto Ontario M6K 3E3 Canada</p>
                      <div class="joblist-phone">
                        <span><a href="tel:9055555555">(905) 555-5555</a></span>
                      </div>                      
                    </div>  
                    <footer class="joblist-footer">
                      <div class="list-raitng"><img src="img/star-rating.png" width="150px" height="35px"></div>
                    </footer>                   
                  </div>
                 </li>        
                 
                 <div class="clearfix"></div>             
               </ul>
            </div>
       </div> <!-- Close row --> 
      </div>
    </section>   
   <!-- Close recent listing section -->
   <aside id="want-tolearn-sec" class="wantlearn-more-sec">
     <div class="feature-callout-cover no-overlay">
       <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6 ">
                    <div  class="wantlearn-feature-content">
                      <h2 style="color:#ffffff" class="callout-feature-title">Want to learn more?</h2>
              <div class="howit-work"><a class="button" href="#">How It Works</a></div>
              </div>
                </div>
            </div>
     </div>
     </div>     
   </aside> 
</div>