<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sidejob</title>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/base-styles.css">
	<link rel="stylesheet" href="css/modules.css">
	<link rel="stylesheet" href="css/navbar.css">
	<link rel="stylesheet" href="css/navbar2.css">
	<link rel="stylesheet" href="css/searchbox.css">

	<link rel="stylesheet" href="css/chat-ui.css">
	
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular-route.js"></script>
	<script type="text/javascript" src="css/js/navbar.js"></script>
	<script src="/js/bootstrap-slider.js"></script>

	<!-- <base href="/"> -->
</head>
<body ng-app="mainApp" ng-controller="mainController as main">
	<div><!--wrapper-->
	<header class="hub-header">      
      <a class="hub-overlay-nav-left-trigger" href="" onclick="toggleFirstMenu()">
         <span class="hub-menu-icon"></span>
      </a> 
      <div class="hub-logo">
         <a href="index.html">
            <img src="images/nav-logo.png" alt="Hub">
         </a>
      </div>			
      
      <!-- SEARCH BOX -->
      <div id="morphsearch" class="morphsearch">
         <form class="morphsearch-form">            
            <input class="morphsearch-input" type="search" placeholder="Search for people, or anything else..."/>
            <!--button class="morphsearch-submit" type="submit">Search</button-->

         </form>
         <!-- Auto complete search results -->
         <div class="morphsearch-content">
           
         </div><!-- /morphsearch-content -->
         <!-- End of Autocomplete search results -->
         <span class="morphsearch-close"></span>
	 

      </div><!-- /morphsearch -->
      <div class="morphsearch-overlay">

      </div>
      <!-- End of SEARCH BOX -->     


      <ul class="top-head-list">
      	<li><a href="">Hello {{main.userName}}</a></li>
      	<li><a href="/logout">Logout</a></li>
      </ul>

      <a class="hub-overlay-nav-right-trigger profile-anchor" href="" onclick="toggleSecondMenu()">
         <img src="images/temp-profile.jpg" alt="profile pic" />
         <span>11</span>        
      </a> <!-- hub-overlay-nav-right-trigger -->


        <div class="sidebar-content" id="first-menu-content">
     	  <ul class="sidebar-links">
     	 	<li> <a href="">Link One</a> </li>
     	 	<li> <a href="">Link Two</a> </li>
     	 	<li> <a href="">Link Three</a> </li>
     	 	<li> <a href="">Link Four</a> </li>
     	 </ul>
    	</div>

    	 <div class="sidebar-content" id="second-menu-content">
    	 	<ul class="sidebar-links">
     	 	<li> <a href="">Link Five</a> </li>
     	 	<li> <a href="">Link Six</a> </li>
     	 	<li> <a href="">Link Seven</a> </li>
     	 	<li> <a href="">Link Eight</a> </li>
     	 </ul>

    	</div><!-- end #second-menu-content -->
      
	</header>

	<section class="dashboard-subheader">
		<div class="container-fluid">
			<div class="menus">
				<ul class="list-inline">
					<li class="cursor" ng-cloak ng-class="{'active':main.page=='dashboard'}"><a href="#/dashboard" class="tab-line" ng-click="main.page='dashboard'">DASHBOARD</a></li>
					<li class="cursor" ng-cloak ng-class="{'active':main.page=='inbox'}"><a href="#/message" class="tab-line" ng-click="main.page='inbox'">INBOX</a></li>
					<li class="cursor" ng-cloak ng-class="{'active':main.page=='explore'}"><a href="#/explore" class="tab-line" ng-click="main.page='explore'">EXPLORE</a></li>
					<li class="cursor" ng-cloak ng-class="{'active':main.page=='profile'}"><a href="#/profile" class="tab-line" ng-click="main.page='profile'">PROFILE</a></li>
				</ul>
			</div>
		</div>
	</section>

	<section class="banner Banner">
		<div class="banner-title text-center">
			<h3 class="title-header">{{main.page | uppercase}}</h3>
		</div>
	</section>
</div><!--end wrapper-->

<div ng-view><!--container-->
	

</div><!--end container-->
	<footer class="chat-footer">
		<div class="chat-box chat-messages">
			<div class="chat-box-handle" onclick="$(this).closest('.chat-box').toggleClass('open')">
				<span class="status status-off"></span>
				<span class="handle-title">Sarah Doe</span>
			</div>
			<div class="chat-box-content">
				<div class="media message">
				  <div class="media-left">
				      <img class="media-object img-rounded" src="http://placehold.it/40x40/00ffff/00ffff" alt="User">
				  </div>
				  <div class="media-body">
				    <p>Hi! How are you?</p>
				  </div>
				</div>


				<div class="media message byme">
				  <div class="media-body">
				    <p>Hi! I felt better.</p>
				  </div>
				  <div class="media-right">
				      <img class="media-object img-rounded" src="http://placehold.it/40x40/ff00ff/ff00ff"  alt="User">
				  </div>
				</div>


				<div class="media message">
				  <div class="media-left">
				      <img class="media-object img-rounded" src="http://placehold.it/40x40/00ffff/00ffff" alt="User">
				  </div>
				  <div class="media-body">
				    <p>Sorry to hear that!</p>
				  </div>
				</div>

				<div class="media message byme">
				  <div class="media-body">
				    <p>Nah. I will be alright</p>
				  </div>
				  <div class="media-right">
				      <img class="media-object img-rounded" src="http://placehold.it/40x40/ff00ff/ff00ff"  alt="User">
				  </div>
				</div>

				<div class="media message byme">
				  <div class="media-body">
				    <p>So what are you up to?</p>
				  </div>
				  <div class="media-right">
				      <img class="media-object img-rounded" src="http://placehold.it/40x40/ff00ff/ff00ff"  alt="User">
				  </div>
				</div>

				<div class="media message byme"> 
				  <div class="media-body">
				    <p>You there?</p>
				  </div>
				  <div class="media-right">
				      <img class="media-object img-rounded" src="http://placehold.it/40x40/ff00ff/ff00ff"  alt="User">
				  </div>
				</div>

			</div>
			<div class="input-cont">
				<input type="text" class="input-mes" placeholder="Type Mess..." />
			</div>
		</div>
		<div class="chat-box chat-messages">
			<div class="chat-box-handle" onclick="$(this).closest('.chat-box').toggleClass('open')">
				<span class="status status-on"></span>
				<span class="handle-title">John Doe</span>
				<span class="pull-right" style="margin-top:15px">X</span>
			</div>
			<div id="chat-msgs" class="chat-box-content">
				
			</div>

			<div class="input-cont">
				<input type="text" id="chat-msg" class="input-mes" placeholder="Type a message..." />
			</div>
		</div>
		<div class="chat-box open chat-userlist">
			<div class="chat-box-handle" onclick="$(this).closest('.chat-box').toggleClass('open')">
				<span class="handle-title"><b>User List</b></span>
			</div>
			<div class="chat-box-content">

				<div class="media userinfo">
				  <div class="media-left">
						<span class="status status-on"></span>
				  </div>
				  <div class="media-body">
				    <b>John Doe</b>
				  </div>
				</div>

				<div class="media userinfo">
				  <div class="media-left">
					<span class="status status-off"></span>
				  </div>
				  <div class="media-body">
				    <b>Susan Doe</b>
				  </div>
				</div>

				

			</div>
			<div class="input-cont">
				<input type="text" class="input-mes" placeholder="" />
			</div>
		</div>
	</footer>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="/js/socket.io.js"></script>
	<script type="text/javascript" src="js/main_app.js"></script>

	

</body>
</html>