<section class="container-fluid">
	<div class="row">
	<div class="col-md-9 single-profile-content">
		<div class="single-profile-top">
			<ul class="single-profile">
            	<li class="col-md-3 no-padd img-avatar">
            		<span class="avatar-profile">
            			<img id="profile_img" class="cursor pic" alt="" ng-src="{{userData.avatar}}" title="Edit profile image" class="avatar avatar-70 photo avatar-default" height="200" width="200" type="file" ngf-select="profile.uploadFiles($file, $invalidFiles)"
				          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
            			</span>
            			
            	</li>
            
	            <li class=" col-md-9 info-profile">

					<div class="profile-info name-profile">
						<div class="profile-edit" ng-show="dataEditVisible.name">
							<input type="text" ng-value="userData.name">
						</div>
						<span>{{userData.name}}</span> <span ng-click="dataEditVisible.name = true" class="edit-profile">[edit]</span>
					</div>

					<div class="profile-info position-profile">
						<div class="profile-edit" ng-show="dataEditVisible.position">
							<input type="text" ng-value="userData.position">
						</div>
						<span>{{userData.position}}</span> <span ng-click="dataEditVisible.position = true" class="edit-profile">[edit]</span>
					</div>

					<div class="profile-info address-profile">
						<div class="profile-edit" ng-show="dataEditVisible.address">
							<input type="text" ng-value="userData.address">
						</div>
						<span>{{userData.address}}</span> <span ng-click="dataEditVisible.address = true" class="edit-profile">[edit]</span>
					</div>

	                <span class="number-review-profile">
	                	<div class="rate-it" data-score="" title="Not rated yet!">
	                		<i data-alt="1" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
	                		<i data-alt="2" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
	                		<i data-alt="3" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
	                		<i data-alt="4" class="fa fa-star-o off star-off-png" title="Not rated yet!"></i>&nbsp;
	                		<i data-alt="5" class="fa fa-star-o off star-off-png" title="Not rated yet!"></i><input name="score" type="hidden" readonly="">
	                	</div>
	                </span>
	                <ul class="horizontal-ul">
	                	<li><span class="get_inline">JOBS POSTED: 24</span></li>
	                	<li><span class="get_inline">JOBS COMPLETED: 3 </span></li>
	                	<li><span class="get_inline"><a href="#appliedjobs" class="get_inline">JOBS APPLIED: {{main.num_of_applied_jobs()}}</a> </span></li>
	                </ul>
	                
	                
	                
	            </li>
            
        	</ul>  
            
            <div class="clearfix"></div>

    	</div>
    	<div class="single-profile-bottom">
            <!-- overview -->
            <div class="profile-overview">
            	<h3 class="title-single-profile">ABOUT ME</h3>
            	<div  class="description-single-profile">
            		<h3> SUMMARY</h3>
            		<span>
            			I have more than 3 years of experience in CSS, HTML and PHP. I love to work in a very professional way and this is what my clients love about me. I can handle both large and small projects effectively.
                		I have more than 3 years of experience in CSS, HTML and PHP. I love to work in a very professional way and this is what my clients love about me. I can handle both large and small projects effectively.
                		I have more than 3 years of experience in CSS, HTML and PHP. I love to work in a very professional way and this is what my clients love about me. I can handle both large and small projects effectively.
            		</span>
            		
            	</div>
            </div>
            <!--// overview -->

			<!--WORK SECTION-->
			<div class="profile-overview">
				<h3 class="title-single-profile">Work</h3>
				<div  class="description-single-profile">
					<div data-ng-repeat="image in workImages">

					</div>

				</div>
			</div>
			<!--WORK SECTION-->

			<div class="profile-history bid-history">

 				<h4 class="title-big-info-project-items">REVIEWS (3)</h4>
				<ul class="list-history-profile-project">
					<li>
						<ul class="single-profile-project">
			            	<li class="img-avatar">
			            		<span class="avatar-profile-project">
			            			<img alt="" src="images/avatar_01_tn.png" class="avatar avatar-70 photo avatar-default" height="90" width="90">
			            		</span>
			            	</li>
			            
				            <li class="info-profile-project">
				                <span class="name-profile">LARRY KING<span>2 Days Ago</span></span>
				                <span class="number-review-profile">
				                	<div class="rate-it" data-score="" title="Not rated yet!">
				                		<i data-alt="1" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="2" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="3" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="4" class="fa fa-star-o off star-off-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="5" class="fa fa-star-o off star-off-png" title="Not rated yet!"></i><input name="score" type="hidden" readonly="">
				                	</div>
				                </span>
				                <span class="position-profile">Affiliate truth lasting change working families Ford Foundation. Bloomberg care innovation opportunity assistance compassion cooperation, Truth lasting change working families Ford Foundation. Bloomberg care innovation opportunity assistance compassion cooperation, scalable fundraising campai. Tackle, catalytic effect activism enable maximize employment global gender rights voice. Connect disruptor, aid activist solution vaccines; eradicate. Rosa Parks time of change, Tackle, catalytic effect</span>
				            </li>
			            
			        	</ul> 
		        	</li>
		        	<li>
						<ul class="single-profile-project">
			            	<li class="img-avatar">
			            		<span class="avatar-profile-project">
			            			<img alt="" src="images/avatar_01_tn.png" class="avatar avatar-70 photo avatar-default" height="90" width="90">
			            		</span>
			            	</li>
			            
				            <li class="info-profile-project">
				                <span class="name-profile">LARRY KING<span>2 Days Ago</span></span>
				                <span class="number-review-profile">
				                	<div class="rate-it" data-score="" title="Not rated yet!">
				                		<i data-alt="1" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="2" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="3" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="4" class="fa fa-star-o off star-off-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="5" class="fa fa-star-o off star-off-png" title="Not rated yet!"></i><input name="score" type="hidden" readonly="">
				                	</div>
				                </span>
				                <span class="position-profile">Affiliate truth lasting change working families Ford Foundation. Bloomberg care innovation opportunity assistance compassion cooperation, Truth lasting change working families Ford Foundation. Bloomberg care innovation opportunity assistance compassion cooperation, scalable fundraising campai. Tackle, catalytic effect activism enable maximize employment global gender rights voice. Connect disruptor, aid activist solution vaccines; eradicate. Rosa Parks time of change, Tackle, catalytic effect</span>
				            </li>
			            
			        	</ul> 
		        	</li>
		        	<li>
						<ul class="single-profile-project">
			            	<li class="img-avatar">
			            		<span class="avatar-profile-project">
			            			<img alt="" src="images/avatar_01_tn.png" class="avatar avatar-70 photo avatar-default" height="90" width="90">
			            		</span>
			            	</li>
			            
				            <li class="info-profile-project">
				                <span class="name-profile">LARRY KING<span>2 Days Ago</span></span>
				                <span class="number-review-profile">
				                	<div class="rate-it" data-score="" title="Not rated yet!">
				                		<i data-alt="1" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="2" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="3" class="fa fa-star star-on-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="4" class="fa fa-star-o off star-off-png" title="Not rated yet!"></i>&nbsp;
				                		<i data-alt="5" class="fa fa-star-o off star-off-png" title="Not rated yet!"></i><input name="score" type="hidden" readonly="">
				                	</div>
				                </span>
				                <span class="position-profile">Affiliate truth lasting change working families Ford Foundation. Bloomberg care innovation opportunity assistance compassion cooperation, Truth lasting change working families Ford Foundation. Bloomberg care innovation opportunity assistance compassion cooperation, scalable fundraising campai. Tackle, catalytic effect activism enable maximize employment global gender rights voice. Connect disruptor, aid activist solution vaccines; eradicate. Rosa Parks time of change, Tackle, catalytic effect</span>
				            </li>
			            
			        	</ul> 
		        	</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="list-skill-profile">
			<h3 class="title">TOP SKILL</h3>
        	<ul>
                <li><span class="skill-name-profile">HTML5</span></li>
    	
                <li><span class="skill-name-profile">Javascript</span></li>
    	
                <li><span class="skill-name-profile">Jquery</span></li>
    	
                <li><span class="skill-name-profile">MySql</span></li>
    	
                <li><span class="skill-name-profile">PHP</span></li>
                	
        	</ul>
    	</div>
	</div>
	</div>
</section>