<section class="message-box-section">
		<div class="container-fluid">
			<div class="category">
				<h3>Browse by Category</h3>
				<div class="cat-block">
					<h4 class="title">Pet Services <a href="#explore-item">More</a></h4>
					<div class="grid row">
					<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/inage1.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
					</div>
					<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/inage2.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
					</div>
					<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/Untitled-6.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
					</div>
					<div class="item col-sm-3">
						<a href="#explore-item" class="img-cat"><img src="images/Untitled-7.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
					</div>
					</div>
				</div>
				<div class="cat-block">
					<h4 class="title">Business <a href="#explore-item">More</a></h4>
					<div class="grid row">
					<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/Untitled-5.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
					</div>
					<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/Untitled-8.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
					</div>
					<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/Untitled-9.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
					</div>
					<div class="item col-sm-3">
						<a href="#explore-item" class="img-cat"><img src="images/Untitled-10.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
					</div>
					</div>
				</div>
				<div class="cat-block">
					<h4 class="title">Photography <a href="#explore-item">More</a></h4>
					<div class="grid row">
						<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/Untitled-4.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
						</div>
						<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/Untitled-11.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
						</div>
						<div class="item col-sm-3">
						<a href="#explore-item"><img src="images/Untitled-12.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
						</div>
						<div class="item col-sm-3">
						<a href="#explore-item" class="img-cat"><img src="images/Untitled-13.jpg"></a>
						<div class="info">
							<a class="name-cat" href="#explore-item">Dog Grooming</a>
						</div>
						</div>
					</div>
				</div>
				<div class="center"><a href="#explore-item" class="read-more">More ...</a></div>
			</div>
		</div>
	</section>