<section>
<div class="container">
			<div class="row bottom70">
				<div class="col-xs-9 col-md-offset-2">
					<h1 class="under-img-h1">Computer graphics</h1>
				</div>
				<div class="col-xs-3 col-md-offset-2">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
						do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim aduis .
					</p>
					<br/>
					<p>
						Lduis ipsum dolor sit amet, consectetur adipiscing elit, sed 
						do eiusmod tempor incididunt ut l.
						Ut enim aduis nostrud exercitation ullamco aduis ut aliquip ex ea commod.
					</p>
				</div>
				<div class="col-xs-3 col-md-offset-2">
					<p>
						Aduis ipsum dolor sit amet, consectetur adipiscing elit, sed 
						do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim aduis .
					</p>
					<br/>
					<p>
						Elit ipsum dolor sit amet, consectetur adipiscing elit, sed 
						do eiusmod tempor incididunt ut l.
						Ut enim aduis nostrud exercitation ullamco laboris ut aliquip ex ea commod.
					</p>
				</div>
			</div>	
		</div><!-- end container -->
		</section>