/*************************** HEADER CUSTOM NAV *******************************/
.sidebar-links{
    width: 100%;
    list-style: none;
    padding:30px 0 0 0;
    margin:0;
}
.sidebar-links li{
    float: left;
    width: 100%;
    height: 46px;
}
.sidebar-links li a{    
    padding:13px 20px;
}
.sidebar-links li a:hover{
    background: #f3f2f2;
}

.sidebar-content{    
    min-height: 100vh;    
    position: absolute;   
    top:80px;
    transition:left 0.5s;
}

.sidebar-toggle{
    left: 0 !important;
}
.toggle-body{
    overflow:hidden;
}

#first-menu-content{
    width: 250px; 
    left: -250px;   
    overflow-x: scroll;
    background: #fafafa;
    top: 50px;
    background-color: #fff;
}
#second-menu-content{
    width: 250px; 
    left: -250px;   
    overflow-x: scroll;
    background: #fafafa;
}

@media (max-width: 719px){
    .sidebar-content{ top:50px; }
}

/******************** END OF HEADER CUSTOM NAV **************************/


body
{
	background-color:#fff;
	font-family:Montserrat,sans-serif;
}
.banner-cover
{
 background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0px, transparent 0px, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
 overflow: hidden;
}
.site-head {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    position: relative;
    z-index: 9999;
}

.headtop-menu {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none;
    margin: 0;
}
.navbar-inverse .navbar-nav > li > a{color:#fff;}
.navbar-brand {
    color: #000 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
}
#slider-sec {
    position: relative;
    top: -50px;
}
.headtop-menu {
    background: transparent none repeat scroll 0 0 !important;
    border: 0 none;
    margin: 0;
}
.home-banner {
    background: rgba(0, 0, 0, 0) url("../img/ggb24.jpg") repeat scroll center center / cover ;
    padding: 11em 0 8em;
}
.mr-slideContaint {
    margin: auto;
    min-width: 300px;
    position: relative;
    width: 90%;
}
.banner-cover {
    background:rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0px, transparent 0px, rgba(0, 0, 0, 0.65) 100%) repeat scroll 0 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.homeSecTitle
{
  font-size: 3.5em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  color:#fff;
  text-align:center;
  letter-spacing: 0.1em;
}
.home-Subtitle {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 35em;
    text-align: center;
    text-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    /*text-transform: uppercase;*/
    font-family: sans-serif;
}
.home-Subtitle .boldit {
    font-weight: 600;
    color: #fff
}
.home-serach {
    margin: 30px auto 0;
    max-width: 95%;
    text-align: center;
}
.field-control {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #cfd2d3;
    border-radius: 0;
    color: #828a8b;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    max-width: 100%;
    padding: 10px 15px;
    transition-duration: 0.15s;
    transition-property: border-color, color, box-shadow;
	display:inline-block;
	margin:0px;
	height:44px;
	margin: 0 0 5px;
}
#search-keyword{width:40%;}
#check-outdate { width: 150px;}
#check-indate { width: 150px;}
.home-search-btn {
    background: #009cde;
    border-width: 0px;
    border-radius: 4px;
    min-width: 350px;
    max-width: 100%;
    color: #fff;
    height: 44px;
    margin-left: -6px;
    padding: 10px 16px;
    transition: background .2s;
}
.home-search-btn:hover {
    background: #0079ad;
    
}

.hosting-opportunity-image {
    margin-bottom: 20px;
    max-height: 290px;
    overflow: hidden;
	padding:0px;
}
.rm-padd{ padding:0px;}
.hosting-opportunity-image img {
    height: auto;
    width: 100%;
}
.hosting-opportunity-title {
    color: #444;
    font-size: 30px;
    padding:15px 0;
}
.hosting-opportunity-content > p {
    font-size: 16px;
    line-height: 2;
    margin: 30px 0 48px;
}
#explore-the-world {
    margin-top: 0px;    /*75px*/
}
.explore-work-title {
    color: #000;
    font-size: 28px;
    text-align: center;
}
.explore-subtitle {
    color: #000;
    font-size: 16px;
    margin: 0 0 15px;
    text-align: center;
}

.hosting-opportunity-content {
    padding: 0 25px;
}
.mr-grid-item
{
 margin-bottom: 30px;  
}

.image-grid-cover {
    padding: 10em 0;
    position: relative;
	 border-radius: 4px;
	background-size:100% 100% !important;
}
.image-grid-cover:after{
 /*background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0px, transparent 0px, rgba(86, 80, 80, 0.65) 100%) repeat fixed 0 0;*/
    overflow: hidden;
	position:absolute;
	bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
		
}
.image-grid-cover::after {
    border-radius: 4px;
    overflow: hidden;
}
.mr-grid-title,.mr-grid-title:hover
{
	left: 5%;
	position: absolute !important;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 90%;
	color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
	text-decoration:none;
	font-size: 28px;
	z-index: 9999;
}

.explore-work-section-title {
    margin-bottom: 40px;
}



.mr-home-feature
{
    /*background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
    line-height: 1.75;*/
    margin-bottom: 2em;
    padding: 2em;
}
.mr-home-feature-media img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 40px;
    padding-top: 0%;
}
.mr-home-feature-media2 img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 0%;
    margin: 10px auto;
    max-height: 40px;
}

.colorize-bg {
    margin-top:-50px;
    background-color: #f0f3f6;
}
.mr-home-feature-title h2 {
    font-size: 23px;
    line-height: 1.0;
    margin: 0em 0 0.5em;
    /*text-align: center;*/
}
.mr-home-feature-description > p {
    font-size: 14px;
    margin: 0;
    text-align: center;
}
.navbar-brand {
    color: #000; 
    font-size: 24px;
    font-weight: bold; }
	.navbar-brand:hover,.navbar-brand:focus,.navbar-brand:active{color:#000;}
	
.nav > li > a:focus, .nav > li > a:hover{background:none;}
.nav li a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

#recent-listing {
    margin-top:50px;
}
.recentSec-title {
    color: #717a8f;
    font-size: 26px;
    text-align: center;
}
.recentSec-subtitle {
    color: #949db2;
    font-size: 17px;
    margin: 0;
    text-align: center;
}
.recentlist-head {
    margin-bottom: 50px;
}

.job-listouter {
    padding: 0;
}
.list-container {
    margin: 0;
    padding: 0;
    position: relative;	
	
}
		
.list-thumb > img {
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.mrjob-listing {
    list-style: outside none none;
    margin-bottom: 35px;
}
figure.list-thumb {
    background: #e6e9ec none repeat scroll 0 0;
    border-radius: 5px 5px 0 0;
    height: 222px;
}
.mrjob-listmeta {
    left: 25px;
    position: absolute;
    top: 30%;
    width: 85%;
    z-index: 999;
}
.joblist-location {
    margin: 0 0 5px;
}
.joblist_title{font-size:20px;}
.mrjob-listmeta a,.joblist_title,.joblist-location
{ 
 color: #fff;
 text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
 text-decoration:none;
}

.list-thumb::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, transparent 0px, transparent 0px, rgba(0, 0, 0, 0.45) 100%) repeat scroll 0 0;
    bottom: 0;
    content: " ";
    left: 0;
    max-height: 222px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.joblist-phone:before {
  content: "\e182";
  font-family:"Glyphicons Halflings";
  color:#fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
}
.joblist-footer {   
	background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
    border-radius: 0 0 5px 5px;
    padding: 8px 12px;
}

.footer-main-messages {
    margin-bottom: 35px;
    border-top: 1px solid #ccc;
}

.footer-main-messages a {
    margin: 0!important;
}

.footer-linkrow  {
    text-align:center;   
    padding: 15px 0;
}

.footer-linkrow  a {
    margin-right: 8px;
    display: inline-block;
    color: #666;
}
.footer-linkrow  a:hover {
    color: #444;
    text-decoration: underline;
}


#want-tolearn-sec {
    margin: 50px 0;
    margin-bottom: 0;
}
.feature-callout-cover {
    /*background: rgba(0, 0, 0, 0) url("../img/iphone-home-page.jpg") repeat scroll center center / cover ;*/
    background-color: #eee;
    padding: 10px;
}
.howit-work {
    padding: 45px 0;
}
.howit-work .button{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    padding: 10px 40px;
	text-decoration: none;
    transition: all .2s;
}
.howit-work .button:hover {
    background: #fff;
    color: #222;
}

.container-brand-dark select {
    background-color: #565a5c;
    border: 0 none;
    color: #fff;
}
.select-large select {
    padding-bottom: 9px;
    padding-top: 9px;
}
.select-large {
    font-size: 16px;
}
.currency-selector,.language-selector {
    width: 100%;
}

.row-space-2 {
    margin-bottom: 12.5px;
}.container-brand-dark {
    color: #fff;
}
.footer-container {
    background: #fff;
	padding:10px 0;
	color:#fff;
}

.footer-container select {
    background-color: #565a5c;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    padding: 10px;
}
.list-layout {
    padding: 0;
	list-style:none;
}

.list-layout li a {
    color: #eee;
    text-decoration: none;
	font-size:13px;
}
.list-layout li a:hover{color:#dfdfdf;}
.social-icons > ul {
    list-style: outside none none;
    padding: 0;
    text-align: center;
}
.social-icons ul li {
    border: 1px solid #666;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    line-height: 28px;
    margin: 5px;
    padding: 5px;
    width: 40px;
    background: #111;
}
.social-icons a {
    color: #fff;
}
.social-icons a:hover {
    color: #dfdfdf;
}

.footer-divider 
{
  border-color: rgba(255, 255, 255, 0.2); margin:40px auto 20px auto;}
  .copyright-txt {
      color: #666;
    font-size: 13px;
    margin: 15px 0;
    text-align: center;
}
.home-banner video {
    bottom: 0;
    height: auto;
    position: absolute;
    width: 100%;
}

@media (max-width:640px)
{
 .headtop-menu {
    background: rgba(0, 0, 0, 0.37) none repeat scroll 0 0 !important;
    border: 0 none;
    margin: 0;
    position: absolute;
    width: 100%;
 }
 .field-control {width:100% !important;}
 .home-search-btn{ width:100%;}
}
@media (min-width:768px){
	.pull-right-lg{float:right;}
}
a,a:hover{
    text-decoration: none;
}
.part-title {
    margin-bottom: 30px;
    overflow: hidden;
}
.no-padd{
    padding: 0 !important;
}
.no-margin{
    margin: 0 !important;
}

.part-title >span{
    position: relative;
    padding: 10px 20px;
    font-size: 20px;
    color: #000;
}

.part-title >span:before,.part-title >span:after{
    content: " ";
    position: absolute;
    width: 980px;
    height: 1px;
    background-color: #333;
    top: 50%;
}
.part-title >span:before{
    right: 100%;
}
.part-title >span:after{
    left: 100%;
}

.form-wrapper{
    max-width: 580px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 16px;
}
.form-wrapper.small-gap{
    margin-top: 50px;
    padding: 0 25px;
}
.form-wrapper input{
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 5px;
}
.form-wrapper input[type="checkbox"]{
    width: auto;
    margin-right: 15px;
}
.form-wrapper input[type="checkbox"]:checked{
        
}

.form-wrapper .btn-sigin{
    width: 100%;
    padding: 15px;
    background-color: #00B8FF;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 20px;
}
.form-wrapper .btn-sigin.disable{
    opacity: 0.3;
}

.forgot-link{
    display: block;
    margin-bottom: 30px;
}
.link{
    color: #00B8FF;
}
.link:hover,.link:focus,.link:active{
    text-decoration: none;
    color:#333;
}   
    

hr{
    background: #fff;
    border-color: #fff;
}
hr.seperator{
    background: #999;
    height: 2px;
    margin-bottom: 30px;
}

/* ########################     Help    ############################### */
.top-bar{
    padding: 10px 0;
    background-color: #09091A;
    color: #fff;
    min-height: 40px;
}

.top-bar span{
    color: #aaa;
}

.search-panel{
    width: 100%;
    text-align: center;
    background-image: url(../images/bg.png);
}

.search-form{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
.search-box .search-form{
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-form .input-group{
    border: 1px solid #fff;
    border-radius: 5px;
}
.search-box .search-form .input-group{
    border: 1px solid #D8D8D8;
}

.search-form .input-group:hover,.search-form .input-group:focus{
    border: 1px solid #777;
}
.search-form .input-group-addon{
    background-color: #fff;
    border: none;
}
.search-form .input-group-addon i{
    color: #A9A9A9;
}

.search-input{
    width: 100%;
    border: none;
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0 5px 5px 0;
}
.search-box .search-input{
    padding-left: 15px;
    padding-right: 15px;
}

.search-box .search-form .input-group:hover,.search-box .search-form .input-group:focus{
    border: 1px solid #D8D8D8;
}

.search-input:hover,.search-input:focus{
    border:none;
    outline: none;
}
.message-info{
    margin: 50px 0;
    padding: 0 15px;
}
.message-info>p{
    margin: 15px 0;
}
.message-info>.btn{
    margin-bottom: 50px;    
}

.seperator-tab{
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 20px;
}
.seperator-tab .tab-item{
    margin-right: 25px;
    color: #ccc;
    position: relative;
    display: inline-block;
}
.message-category .seperator-tab .tab-item{
    width: 48%;
    font-size: 16px;
    text-align: center;
    margin-right: 0;
}

.seperator-tab .tab-item.active{
    color: #333;
}
.seperator-tab.active .tab-item,.seperator-tab.active .tab-item.active{
    color: #000;
}

.seperator-tab .tab-item.active>.bottom-border{
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 15px;
    width: 100%;
    height: 3px;
    background-color: #00B8FF;
}

.row-title{
    padding-left: 15px;
    padding-right: 15px;
}

.column-box .title{
    font-size: 16px;
    margin: 25px 0;
    color: #ccc;
}
.column-box .title .icon{
    margin-right: 6px;
}

.column-box .link-box a{
    text-decoration: none;
    color: #00B8FF;
}
.column-box .link-box a:hover{
    color: #000;
}

.column-box .link-box ul{
    list-style: none;
    padding-left: 0;
}
.column-box .link-box ul li{
    margin: 6px 0;
}

.column-box .more-links>a{
    color: #ccc;
    text-decoration: none;
}
.column-box .more-links>a:hover{
    color: #00B8FF;
}

.topics-item-box{
    margin-top: 20px;
    color: #ccc;
    padding-top: 0;
}
.topics-item-box .item{
    margin-bottom: 15px;
}
.topics-item-box .item .title{
    font-size: 16px;
}
.topics-item-box .item .title .icon{
    margin-right: 6px;
}

.footer{
    background: #111;
    padding: 30px;
}

.footer a{
    color: #fff;
}
.footer a:hover{
    color: #00B8FF;
}

.footer li li a{
    color: #aaa;
    font-size: 11px;
}

.footer .socials li{
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 10px;
    margin-top: 10px;
}
.footer .socials li a{
    display: inline-block;
    line-height: 40px;
    color: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 50%;
}
.footer .socials li a:hover{
    background-color: #00B8FF;
    color: #fff;
    border-color: #00B8FF;
}

.footer .footer-menu>ul{
    float: left;
    text-align: center;
}


/* ######################## sidejob signup   ##################### */
.heading-box {
    padding: 50px 0;
}

.heading-box .heading{
    font-size: 2.2em;
    color: #00B8FF;
}
.heading-box .sub-heading{
    color: #333;
}

.form-holder{
    padding-left: 50px;
    position: relative;
}
.form-holder:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 0;
    background-color: #D8D8D8; 
}
.form-holder:after{
    content: '';
    position: absolute;
    width: 30px;
    height: 1px;
    margin-left: -15px;
    bottom: 0;
    left: 0;
    background-color: #D8D8D8;  
}

.form-section{
    position: relative;
}

.form-title-box{
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}
.form-title-box .num{
    z-index: 5;
    text-align: center;
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    left: -70px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #00B8FF;
    color: #00B8FF;
}
.form-title-box.disable .num{
    border-color: #D8D8D8;
    color: #D8D8D8;
}

.form-title-box .title{
    font-size: 30px;
}

.form-title-box .note{
    line-height: 30px;
}

.form-title-box .note span{
    color: #00B8FF;
}

.form-row label{
    color: #666;
    font-size: 14px;
}
.form-row label span{
    color: #00B8FF;
    margin-right: 3px;
}

.text-or{
    margin-bottom: 30px;
}
.border-blur{
    position: absolute;
    height: 100%;
    width: 5px;
    left: -52px;
    background-color: #fff;
}

.btn-paypal {
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 10px 45px;
    font-size: 18px;
}

.form-row .message{
    margin-bottom: 35px;
}
.form-row .marster-card{
    background-image: url(../images/master-card.png);
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-position-x: 98%;
    background-size: contain;
}

.mobile-group{
    width: 100%;    
}

.mobile-group>select{
    width: 20%;
    position: absolute;
    height: 46px;
    left: 0;
    border-right: transparent;
    padding-left: 25px;
}

.color-btn{
    background-color: #e6e6e6;
}

.mobile-group .mobile-num{
    max-width: 80%;
    margin-left: 20%;
    position: relative;
}
/*
    ##############  dashboard   ###################
*/
.dashboard-header{
    padding: 20px 0;
    box-shadow: 0px 2px 4px #E2DBDB;
}
.dashboard-header .menu-left{
    font-size: 25px;
}
.dashboard-header .menu-left .brand{}
.dashboard-header .menu-left .title{
    margin-left: 12px;
}
.dashboard-header .menu-right{
    font-size: 20px;
}
.dashboard-header .menu-right,.dashboard-header .menu-right a{
    color: #7C7C7C;
    text-decoration: none;
}
.dashboard-header .menu-right a:hover{
    color: #00B8FF;
}
.dashboard-header .menu-right a:focus{
    text-decoration: none;
    border: none;
}

.dashboard-header .menu-right .menus{
    margin-bottom: 0;   
}
.dashboard-header .menu-right .menus li{
    vertical-align: middle;
    padding: 0 10px;
}

.dashboard-header .menu-right .user-img{
    padding-right: 35px !important;
}
.dashboard-header .menu-right .user-name{

}
.dashboard-header .menu-right .help{
    padding: 0 35px !important;
}




.dashboard-subheader{
    margin-top: 20px;
}
.dashboard-subheader .menus{}
.dashboard-subheader .menus>ul>li{
    font-size: 22px;
    margin-right: 20px;
    position: relative;
    padding-bottom: 10px;
}
.dashboard-subheader .menus>ul>li.active:before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #111;

}

section.banner{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner.Banner{
    background-image:url(../images/Banner.png);
}

.banner .banner-title{
    padding: 80px 0;
    z-index: 5;
}
.banner .banner-title .title-header{
    color: #fff;
    font-size: 50px;
}


.tab-menu-holder{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 17px;
}
.tab-menu-holder .menu-tab{
    display: inline-block;
}


.filter-box{
    padding: 45px;
    border-radius: 8px;
    margin-bottom: 30px;
    /* margin-top: 10px; */
}
.filter-box .filter-row{
    font-size: 17px;
    font-weight: bold;
}
.filter-box .filter-row .filter-title{}
.filter-box .filter-row .filter-icon{}

.filter-box .filter-content{
    color: #99A9B5;
}
.filter-box .filter-content .filter-content-section{
    font-size: 13px;
    margin-bottom: 40px;
}
.filter-box .filter-content .filter-content-section .title{
    color: #111;
    font-size: 20px;
}
.filter-box .filter-content .filter-content-section .col-b{
    color: #333;
}


.post-holder .searchbox{
    max-width: 680px;
}

.list-table{}
table.table-seperate{
    border-collapse: separate;
    border-spacing: 0 10px;
}

.list-table tr{
    
}
.list-table td{
    vertical-align: middle !important;
    border-color: #D8E2E8;
    border-radius: 6px;
}

.list-table .col1{
    font-size: 44px;
    text-align: center;
    border: 1px solid #D8E2E8;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.list-table .col2{
    border: 1px solid #D8E2E8;
    border-right: none;
    border-left: none;
    border-radius: 0;

}
.list-table .col3{
    border: 1px solid #D8E2E8;
    border-right: none;
    border-left: none;
    border-radius: 0;
}
.list-table .col4{
    border: 1px solid #D8E2E8;
    border-left: none;
    border-right-style: solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.list-table .row-icon{

}

.description-new{
    max-width: 75%;
    color: #111;
    padding: 6px 0;
    margin-bottom: 2px;
}

.description-box{}
.description-box .title{
    font-size: 14px;
    font-weight: bold;
}
.description-box .title .time-ago{
    font-size: 12px;
    margin-left: 11px;
    color: #99A9B5;
    font-weight: normal;
}
.description-box .short-desc{}
.more-jobs{
    color: #99A9B5;
}
.more-jobs:hover{
    color: #00B8FF;
}

.main-content{
    padding-bottom: 30px;
}

/*
    ##############  Message ###################
*/
.message-box-section{
    margin-bottom: 70px;
}

.message-box-wrapper{
    border: 1px solid #D8D8D8;
    overflow: hidden;
    margin-top: 15px;
    border-radius: 7px;
}

.col-seperator{
    border-right: 2px solid #eaeaea;
}
.message-box-wrapper .contact-list{
    /* height: 600px;
    overflow-y: auto; */
}
.message-box-wrapper .contact-list .title{
    font-size: 18px;
    padding: 0 15px;
}
.message-box-wrapper .contact-list .message-category{
    padding: 0 15px;
    margin-top: 40px;
}
.message-box-wrapper .contact-list .search-box{}
.message-box-wrapper .contact-list .contacts{
    height: 450px;
    padding-left: 0;
    list-style: none;
    margin-left: 0;
    overflow-y: auto;

}
.message-box-wrapper .contact-list .contacts>li{
    padding: 15px 0;
    padding-left: 15px;
}
.message-box-wrapper .contact-list .contacts>li:hover{
    background-color: #EBEBEB;
}

.message-box-wrapper .contact-list .contacts img{
    border-radius: 50%;
    margin-right: 10px;
}
.message-box-wrapper .contact-list .contacts .media-body{
    padding-right: 50px;
    position: relative;
}
.message-box-wrapper .contact-list .contacts .media-body:before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 20px;
    margin-top: -10px;
    border-radius: 50%;
    background-color: #D4D4D4;
}

.message-box-wrapper .contact-list .contacts li.active .media-body:before{
    background-color: #868686;

}

.message-box-wrapper .contact-list .contacts .media-body .media-heading{
    font-size: 16px;
    color: #000;
}
.message-box-wrapper .contact-list .contacts .media-body .message{
    margin-bottom: 0;
    color: #999;
    font-size: 13px;
}


.chat-message-box{
    padding-top: 20px;
}
.chat-message-box .message-list{
    height: 400px;
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    overflow-y: auto;
}
.chat-message-box .message-list>ul{
    padding-left: 0;
    list-style: none;
}
.chat-message-box .message-list li{
    width: 100%;
    margin-bottom: 35px;
    padding: 0 20px;
    clear: both;
}

.chat-message-box .message-list .message-item{
    width: 60%;
}
.chat-message-box .message-list li.sent .message-item{
    float: right;
}

.chat-message-box .message-list .message-item .messge{
    background-color: #C4D2E4;
    padding: 15px 10px;
    border-radius: 10px;
    font-size: 17px;
}
.chat-message-box .message-list .message-item .messge img{
    max-width: 100%;
}

.chat-message-box .message-list li.sent .message-item .messge{
    background-color: #DCDCDC;
}

.chat-message-box .message-list .message-item .time{
    display: inline-block;
    margin-top: 5px;
    color: #B5ABB8;
}

.chat-message-box .msg-input-wrapper{
    background-color: #f5f5f5;
    padding: 20px;
}
.chat-message-box .msg-input-wrapper .input-toolbox{
    padding: 0 15px;
    background-color: #fff;
    border: 1px solid #DFDFDF;
    border-radius: 5px;
}
.chat-message-box .msg-input-wrapper .input-toolbox>textarea{
    padding: 10px;
    width: 100%;
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 40px;
}
.chat-message-box .msg-input-wrapper .input-toolbox>textarea:focus{
    border: none;
    border-bottom: 1px solid #DFDFDF;
    outline: none;
}

.chat-message-box .msg-input-wrapper .input-toolbox .option-box{
    overflow: hidden;
    padding: 5px 0;
    color: #A9A9A9;
}
.chat-message-box .msg-input-wrapper .input-toolbox .option-box>ul{}
.chat-message-box .msg-input-wrapper .input-toolbox .option-box>ul>li{
    padding-right: 20px;
    border-right: 1px solid #aaa;
    padding-left: 10px;
}
.chat-message-box .msg-input-wrapper .input-toolbox .option-box>ul>li>i{
    margin-right: 8px;
    font-size: 20px;
}
.chat-message-box .msg-input-wrapper .input-toolbox .option-box .check-send{}

.chat-list{
    position: relative;
    width: 100%;
    max-width: 250px;
    padding: 10px 20px 10px 50px;
    background-color: #EEEBEB;
}
.chat-list .signal{
    position: absolute;
    left: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -10px;
    background-color: #16AD0F;

}

/*
    ##############  Message ###################
*/


@media (max-width: 459px){
    .form-wrapper .btn-sigin{
        font-size: 10px;
    }

    .mobile-group>select{
        width: 30%;
        padding-left: 10px;
    }

    .mobile-group .mobile-num{
        max-width: 70%;
        margin-left: 30%;
    }

    .form-row .marster-card{
        background-image: none;
    }

    .seperator-tab .tab-item.active>.bottom-border{
        display: none;
    }
}





/*ADDED*/

.cursor {
    cursor:pointer;
}

/*------------------------- CUSTOM CSS -------------------------*/

.dashboard-info-box{
    margin-bottom: 70px;
}
.custom-search-holder{
    margin-bottom: 30px;
    margin-top: 20px;
}
.custom-search{
    
}


.filter-list{
    list-style: none;
    padding:0;
    margin:0;
    display: none;
}
.filter-list li{
    padding:4px 0 4px 10px;    
}

.btn-post{
    background: #458fce;
    color: #fff;
    border:1px solid #458fce;  
    padding-left: 30px;
    padding-right: 30px;
}
.btn-post:hover{
    color: #fff;
    opacity: 0.8;
    transition:0.4s;
    border:1px solid #458fce;   
}


.mj-holder{
    padding:10px 0 40px 0;
}
.more-jobs{
    background: #458fce;
    color:#fff;
    padding:10px 20px;
    border-radius: 3px;
    margin-bottom: 30px;
}
.more-jobs:hover{
    opacity: 0.8;
    transition:0.4s;
     color:#fff;
     text-decoration: none;
}


.meta-info .list-inline .fa {
    font-size: 18px;
    display: block;
}
.meta-info .list-inline {
    font-size: 14px;
}

.meta-info .eg-time {
    font-size: 18px;
    margin-top: 16px;
    display: inline-block;
}


.meta-info ul a:hover{
    transition:0.4s;
}
.featured-img {position: relative;}
.featured-img img{
    border-radius: 8px;
   box-shadow: 0 0 4px #444;
}
.featured-img img:hover{
    opacity: 0.8;
    transition:0.4s;
}

.media-avatar{
    position: absolute;
    bottom: -30px;
    right: 20px;
    height: 60px;
    opacity: 1 !important;
    width: 60px;
    border-radius: 50% !important;
    border: 0px solid transparent;
    
}
.media-avatar:hover{
    transition:0.4s;
    opacity: 0.8;
}


@font-face {
    font-family: Helvetica_neue;
    src: url(../fonts/HelveticaNeueLTStd Lt.otf);
}

.helvetica {
    /*font-family: Helvetica_neue;*/
}

/* CUSTOM CSS INDEX */
.img-holder{
    overflow: hidden;
     width: 360px;
    height: 280px;
    position: relative;
    text-align: center;
}
.img-holder img{
    width: 360px;
    height: 280px;

    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.img-holder a:hover img{
    width: 390px;
    height: 310px;
}

.abs-name{
    position: absolute;
    font-size:30px;
    color:#fff;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);    

}

/* Custom header */
.custom-header{
   background: #fff;
   max-height: 50px;
}

.custom-header img{
    max-height: 75px;
}

.header-btn{
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    padding:8px 17px;
    background: #009cde;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.header-user {
    float: right;
    margin-top: 7px;
    margin-left: 5px;
    padding:8px 17px;
    text-align: center;
    color: #000;
    font-size: 1.2em;
}

.header-btn:hover{
    text-decoration: none;
     color: #fff;
     opacity: 0.80;
     transition:all 0.3s;
}
.header-btn.signup{
    background: #dddddd;
    color: #33333d;
}


@media only screen and (min-width:479px) and (max-width:559px) {
    .header-btn{
         margin-top: 19px;
    } 
}

@media only screen and (max-width:479px) {
    .custom-header img{
        min-height: 70px;
    }
    .header-btn{ 
        float: none; 
        display: block;
        margin: 0;
        padding:5px 14px;                
    }
    .header-btn.signup{
        margin-top: 4px;
        margin-bottom: 2px;
    } 
}

.tab-line {
    margin-bottom: -13px;
}

.top-head-list li {
    margin-left:20px;
    text-align: center;
    float:left;
}

.top-head-list li a {
    color:#000;
}

.top-head-list {
    list-style:none;
    position:fixed;
    top:16px;
    right:140px;
}


.single-profile-content img{
    width: 100%;
    height: 200px;
    max-width: 100%;
}

.single-profile .img-avatar .avatar-profile{
    width: 200px;
    height: 200px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.profile-info {
    padding: 8px;
}

.info-profile{
    padding: 20px;
    position: relative;
}

.profile-edit {
    position: absolute;
}

.info-profile .name-profile {
    color: #2c3d4f;
    font-size: 30px;
    font-weight: 700;
    display: block;
    line-height: 1.1em;
    margin-bottom: 5px;
}

.profile-info .edit-profile {
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    cursor: pointer;
    visibility: hidden;
}

.profile-info:hover .edit-profile {
    visibility: visible;
}

.info-profile span.position-profile {
    color: #000;
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}
.info-profile .address-profile{
    color: #999;
    font-size: 24px;
    display: block;
    margin-bottom: 5px;
}
.info-profile .job-profile{
    color: #333;
    font-size: 15px;
    display: block;
    margin-top: 10px;
}
.single-profile {
    list-style: none;
}

.rate-it {
    padding: 8px;
}

.rate-it .star-on-png, .rating-it i, .rate-it .star-half-png {
    color: #fec600;
}

.list-skill-profile {
    margin-top: 50px;
}

.top-skills-wrapper {
    border-bottom: 1px solid #e4e4e4;
}

.top-skills-wrapper h3 {
    display: inline-block;
}

.top-skills-wrapper i {
    float: right;
    cursor: pointer;
    margin: 10px;
}

.new-skill-wrapper {
    margin-bottom: 10px;
    text-align: center;
}

.new-skill-wrapper input {
    width: 87%;
}

.list-skill-profile .title, .list-skill-profile ul{
    margin: 0px;
    padding: 10px 30px;
    font-size: 15px;
    color: #000000;
    
}

.profile-overview, 
.single-profile-top{
    border: 1px solid #e4e4e4;
}

.profile-overview .title-single-profile{
    border-bottom: 1px solid #e4e4e4;    
}

.summary-edit {
    width: 100%;
}

.list-skill-profile ul, .list-history-profile-project, .single-profile-project{
    margin: 0;
    padding: 10px;
    list-style: none;
}
.single-profile-project li{
    
    margin: 10px;
}
.list-skill-profile ul li {
    padding: 3px 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #eaeaea;
    margin-left: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}

.profile-overview .title-single-profile{
    line-height: 22px;
    text-align: left;
    padding: 20px 30px 15px;
    margin: 0px;
    font-weight: 500;

}
.profile-overview .description-single-profile{
    line-height: 22px;
    text-align: left;
    padding: 10px 50px 30px;
    margin: 0px;
}
.profile-overview .description-single-profile h3{
    margin-bottom: 20px;
}
.single-profile-project .img-avatar .avatar-profile-project {
    width: 60px;
    height: 60px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.info-profile-project span{
    display: block;
}

.work-images-wrapper {
    position: relative;
    height: 290px;
    overflow: hidden;
}

.work-images {
    width: 215px;
    height: auto;
    display: inline-block;
}

.work-images-more {
    position: absolute;
    right: 120px;
    cursor: pointer;
    font-weight: bold;
    top: 45%;
    color: #000;
    font-size: 16px;
}

.gallery-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.9);
}

.close-gallery {
    position: absolute;
    top: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
}

.gallery-images {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 80%!important;
    height: 80%!important;
}

.move-image-left,
.move-image-right {
    position: absolute;
    font-size: 40px;
    top: 47%;
    cursor: pointer;
}

.move-image-left:hover,
.move-image-right:hover {
    color: #fff;
}

.move-image-left {
    left: 20px;
}

.move-image-right {

    right: 20px;
}

/*========================= new css ============================*/
img{
    max-width: 100%;
}
a{
    color: #666;
}
a:hover, a:focus {
    color: #333;
}
.center {
    text-align: center;
}
.category h3{
    display: block;
    text-align: center;
    font-weight: 600;
    font-size: 27px;
    color: #363636;
}
.cat-block .item {
    display: block;
    margin-bottom: 30px;
}
.cat-block .title{
    color: #333;
    font-size: 600;
    font-size: 22px;
    margin-bottom: 15px;
}
.cat-block .title a {
    color: #999;
    font-size: 20px;
    font-weight: 500;
}
.cat-block .item .info {
    background-color: #eee;
    padding: 20px;
}
.cat-block .item .info .name-cat {
    color: #666;
    font-size: 24px;
}
.cat-block .item .info .name-cat:hover, .cat-block .item .info .name-cat:focus {
    color: #333;
}
.read-more {
    font-size: 34px;
}
.item img {
    width: 100%;
}
/*-----------------------------------------*/
.single-profile-top {
    border-radius: 4px;
    padding: 25px;
    margin-bottom: 15px;
    border-bottom-width: 3px;
}
.profile-overview , .profile-history , .list-skill-profile{
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    margin-bottom: 15px;
    border-bottom-width: 3px;
}

 .profile-history .title-big-info-project-items{
    margin: 0;
    padding: 20px 30px 15px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 24px;
 }
 .single-profile-project li.img-avatar {
    display: inline-block;
    float: left;
    margin-right: 30px;
 }
.single-profile-project li.info-profile-project {
    display: block;
    overflow: hidden;
}
.single-profile-project li.info-profile-project .name-profile{
    font-weight: 600;
    font-size: 16px;
    display: block;
}
.single-profile-project li.info-profile-project .name-profile span{
    font-size: 11px;
    color: #666;
    display: inline-block;
    font-weight: 400;
    margin-left: 20px;
    text-transform: capitalize;
}
.info-profile-project span.number-review-profile{
    display: block;
    margin: 5px 0;
}
/*======================== end css ==============================*/

.under-img-h1{
    margin:30px 0;
}

.bottom70{
    margin-bottom: 70px;
}

.fonting {
    font-size: 17px;
}

.horizontal-ul {
        list-style-type: none;
        margin: 0;
        padding: 8px;
}

.horizontal-ul li {
    display: inline;  

}

.get_inline {
    display: inline;
    margin-right: 20px;
}

.fixation {
    font-size: 1rem;
}

.non-margin {
    margin: 0;
}

.top-margin20 {
    margin-top: 20px;
    margin-bottom: 0;
}

.topiraj {
    top: 50px;
}

.pic{ width:190px; height:190px; opacity: 1; filter: alpha(opacity=100); background: url(http://www.corelangs.com/css/box/img/duck.png) no-repeat; } 
.pic:hover { opacity: 0.3; filter: alpha(opacity=30); }



.post-job-btn {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 2px 22px;
    border: 0px solid #fff;
    border-radius: 20px;
    background: #458fce;
}

.post-job-btn:hover,
.post-job-btn:active,
.post-job-btn:visited{
    background: #458fce;
    color: #fff;
    opacity: 0.8;
    text-decoration: none !important;
 }

/* TABS - Homepage */

.egtab-handler {
    padding: 15px 0 !important;   
    border-bottom: 3px solid transparent;
    border-right: 1px solid transparent;
}

.egtab-handler:hover {
    background: #f6f8fa;
    border-bottom: 3px solid #f6f8fa;
    border-right: 1px solid #f6f8fa;
    cursor: pointer;
 }

.egtab-handler.active {
    background: #fff;
    border-bottom: 3px solid #009cde;
    border-right: 1px solid #ececec;
 }

.egtab-handler  p {
    font-size: 18px;
}

.egtab-content { display: none; padding: 25px 5px; }
.egtab-content p {max-width: 600px; margin:auto; }


.egtab-content  .col-md-4 {
    margin-bottom: 35px;
}

@media(max-width: 992px) {
   .egtab-handler  p {
        font-size: 14px;
    } 
    
    .egtab-handler {
        padding: 5px 0 !important;   
        border-bottom: 2px solid transparent;
        border-right: 1px solid transparent;
    } 

    .egtab-handler:hover {
        border-bottom: 2px solid #f6f8fa;
     }
    
    .mr-home-feature-media2 img {
        max-height: 27px;
    }

}